<div class="global">
  <div id="wrapper" class="toggled">
  
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="/">
                  <img src="../../../assets/img/logowebpeq2.png" style="width: 30px;height: 30px;" alt=""> &nbsp;
                    Padel Marbella
                </a>
            </li>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/listado-jugador">Jugadores</a>
            </li>
            <li>
                <a routerLink="/listado-reservas">Listado de Reservas</a>
            </li>
             <li>
                <a routerLink="/graficas">Estadisticas</a>
            </li>
            <!--<li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> -->
        </ul>
    </div>
  </div>
  <div class="cabecera">
    <nav class="navbar navbar-expand-md navbar-black bg-black mb-4 " style="background-color: #000;color: #999999; height: 50px;margin-left: -10px;">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        
      </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/" >Inicio</a>
            </li>
        </ol>
    </nav>
    
  </div>
  </div>
<div class="cabecera">

  <div class="row">
    <div class="col-md-12 ">
      <div class="formulario">
        <form [formGroup]="formJug" #formDato="ngForm" (ngSubmit)="guardarFormulario()">
          <div class="row">
            <div class="col">
              <h4>Datos del Jugador</h4>
              <div class="col-md-8 ">
                <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <span *ngIf="formJug.controls.nombre.valid &&
                        formJug.controls.nombre.dirty">
                    <i class="fas fa-check-circle valido"></i>
                  </span>
                  <span class="carmesi" *ngIf="formJug.controls.nombre.invalid &&
                          formJug.controls.nombre.touched">
                    <i class="fas fa-times-circle no-valido"></i>
                    El campo es obligatorio
                  </span>
                  <input type="text" class="form-control" placeholder="Nombre" name="nombre" formControlName="nombre">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="apellidos">Apellidos</label>
                  <span *ngIf="formJug.controls.apellidos.valid &&
                        formJug.controls.apellidos.dirty">
                    <i class="fas fa-check-circle valido"></i>
                  </span>
                  <span class="carmesi" *ngIf="formJug.controls.apellidos.invalid &&
                          formJug.controls.apellidos.touched">
                    <i class="fas fa-times-circle no-valido"></i>
                    El campo es obligatorio
                  </span>
                  <input type="text" class="form-control" placeholder="Apellidos" name="apellidos" formControlName="apellidos">
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="dni">DNI</label>
                  <span *ngIf="formJug.controls.dni.valid &&
                        formJug.controls.dni.dirty">
                    <i class="fas fa-check-circle valido"></i>
                  </span>
                  <span class="carmesi" *ngIf="formJug.controls.dni.invalid &&
                          formJug.controls.dni.touched">
                    <i class="fas fa-times-circle no-valido"></i>
                    El campo es obligatorio
                  </span>
                  <span class="carmesi" *ngIf="formJug.controls.dni.invalid &&
                        formJug.controls.dni.dirty &&
                        formJug.value.dni">
                    <i class="fas fa-times-circle no-valido"></i>
                    El campo debe tener 9 caracteres
                  </span>
                  <input type="text" class="form-control" formControlName="dni" [(ngModel)]="formJug.value.dni" maxlength="9" placeholder="0000000X" name="dni" pattern="[A-Za-z0-9]+" >
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="pasaporte">Pasaporte</label>
                  <span *ngIf="formJug.controls.pasaporte.valid &&
                        formJug.controls.pasaporte.dirty">
                    <i class="fas fa-check-circle valido"></i>
                  </span>
                  <span class="carmesi" *ngIf="formJug.controls.pasaporte.invalid &&
                          formJug.controls.pasaporte.touched">
                    <i class="fas fa-times-circle no-valido"></i>
                    El campo es obligatorio
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="formJug.value.pasaporte" placeholder="pasaporte" formControlName="pasaporte" name="pasaporte" >
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group">
                  <label for="nacionalidad">Nacionalidad</label>
                  <select class="form-control" name="nacionalidad" formControlName="nacionalidad">
                    <option *ngFor="let nacionalidad of nacionalidades" [value]="nacionalidad">
                      {{nacionalidad}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col">
              <form >
                <input style="border: none" type="file" (change)="preview($event)" accept="image/">
                <br>
                
                <canvas class="fondo"  #myCanvas style="width:300px; height: 300px;border: 1px solid red"></canvas>
              </form>
              <div class="row" style="margin-top: 30px;">
                <div class="col-md-4">
                  <label for="nivel">Nivel de Juego</label>
                  <select class="form-control" name="nivel" formControlName="nivel">
                    <option *ngFor="let nivel of niveles" [value]="nivel">
                      {{nivel}}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="id">Id</label>
                  <input type="text" class="form-control" placeholder="id" name="id" formControlName="id">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label for="numeroTarjeta">Nº de tarjeta</label>
                  <input type="number" class="form-control" placeholder="numero de Tarjeta" name="numeroTarjeta" formControlName="numeroTarjeta">
                </div>
                <div class="col-md-4">
                  <label for="numeroUsuario">Nº de Usuario</label>
                  <input type="number" class="form-control" placeholder="Numero de Usuario" name="numeroUsuario" formControlName="numeroUsuario">
                </div>
              </div>

            </div>


          </div>
          <hr>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    MATRICULAS
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
               <form>
                <div class="card-body">

                  <p>
                    <strong>Servicios Disponibles </strong>
                  </p>
                  <input type="checkbox" name="gimnasio" [(ngModel)]="marcable.gimnasio" > Socio Gimnasio
                  <br>
                  <input type="checkbox" name="padel" [(ngModel)]="marcable.padel"> Socio Padel
                  <br>
                  <input type="checkbox" name="padelGimnasio" [(ngModel)]="marcable.padelGimnasio"> Socio Padel y Gimnasio
                  <br>
                </div>
              </form>
              </div>

               
              
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ACCESO A VESTUARIOS
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <form action="/action_page.php" method="get">
                    <p>
                      <strong>Servicios Disponibles </strong>
                    </p>
                    <input type="checkbox" name="bonogimnasio" [(ngModel)]="marcable.bonogimnasio"> Bonos Gimnasio
                    <br>
                    <input type="checkbox" name="bonomasaje"[(ngModel)]="marcable.bonomasaje"> Bono Masaje 1 hora
                    <br>
                    <input type="checkbox" name="bonopadel" [(ngModel)]="marcable.bonopadel"> Bono Padel
                    <br>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div style=" width: 100%">
            <div style="padding-left: 80%;display: inline;">
              <button type="submit" [disabled]="formJug.invalid" class="btn btn-primary" (click)="seleccionar()" style="margin: 5px;">Añadir Datos</button>
              <button class="btn btn-danger" routerLink="/">Volver</button>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>