<div class="global">
  <div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand" routerLinkActive="activado" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/">
              Padel Marbella
            </a>
          </li>
          <li routerLinkActive="activado" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="activado" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/listado-jugador">Jugadores</a>
          </li>
         <li>
            <a routerLink="/listado-reservas">Lista de reservas</a>
          </li>
          <!--
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li> -->
        </ul>
      </div>
  </div>
  <div class="cabecera">
    <nav class="navbar navbar-expand-md navbar-black bg-black mb-4 " style="background-color: #000;color: #999999; height: 50px;margin-left: -10px;;">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">

      </div>
    </nav>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/" [routerLinkActive]="['router-link-active']">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/listado-jugador" [routerLinkActive]="['router-link-active']">Jugador</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar Jugador</li>
      </ol>
    </nav>
  </div>
</div>