<div class="global">
<div id="wrapper" class="toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a routerLink="/">
                  Padel Marbella
              </a>
          </li>
          <li>
              <a routerLink="/">Home</a>
          </li>
          <li>
              <a routerLink="listado-jugador">Jugadores</a>
          </li>
          <li>
              <a routerLink="listado-reservas">Listado de Reservas</a>
          </li>
          <!-- <li>
              <a href="#">Events</a>
          </li>
          <li>
              <a href="#">About</a>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li> -->
      </ul>
  </div>
</div>
<div class="cabecera">
  <nav class="navbar navbar-expand-md navbar-black bg-black mb-4 " style="background-color: #000;color: #999999; height: 50px;margin-left: -10px;">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
    </div>
  </nav>
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a routerLink="/" >Inicio</a>
          </li>
      </ol>
  </nav>
  
</div>
</div>
<div style="display: flex; position: absolute;">
    <form  #formRese="ngForm" (ngSubmit)="guardarReserva()"  >
    <div style="padding-left: 300px; display: flex; flex-direction: row; justify-content: space-around; width: 75%;flex-wrap: wrap; overflow: auto;">
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            
                <!-- <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <input type="date" name="fechaSalida" class="form-control" ngModel >
                <button  type="submit"  class="btn btn-success">reservar</button> -->

                
            


            <div class="letra">
                <p [(ngModel)]="titulo.p1" name="titulo" >{{titulo.p1}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0"  class="jugador" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <button  (click)="guardarReserva1()"  class="btn btn-success">reservar</button>
            </div>
        </div>
    
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p2" name="p2">{{titulo.p2}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                    <div class="input-group mb-2 centrado">
                        <div class="input-group-prepend ">
                            <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                        </div>
                    </div>
                    <input type="date" name="fechaEntrada" class="form-control" ngModel >
                    <br>
                    <div class="input-group mb-2 centrado">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                        </div>
                    </div>
                    <input type="date" name="fechaSalida" class="form-control" ngModel >
    
                </div>

            <div class="botones">
                <button (click)="guardarReserva(p2)" class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p3" >{{titulo.p3}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <!-- <button class="btn btn-success">reservar</button> -->
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p4" >{{titulo.p4}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <!-- <button class="btn btn-success">reservar</button> -->
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p5" >{{titulo.p5}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div  [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <!-- <button class="btn btn-success">reservar</button> -->
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p6"  >{{titulo.p6}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <!-- <button class="btn btn-success">reservar</button> -->
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
            <div class="letra">
                <p [(ngModel)]="titulo.p7" >{{titulo.p7}}</p>
            </div>
            <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend ">
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                    </div>
                </div>
                <input type="date" name="fechaSalida" class="form-control" ngModel >

            </div>

            <div class="botones">
                <!-- <button class="btn btn-success">reservar</button> -->
            </div>
        </div>
        <div style="border: solid 3px green;height: 600px;" class="tarjeta">
                <div class="letra">
                    <p [(ngModel)]="titulo.p8" >{{titulo.p8}}</p>
                </div>
                <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                    <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
    
                    </div>
                    <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
    
                    </div>
                    <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
    
                    </div>
                    <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
    
                    </div>
    
                </div>
            <div class="fechas">
                <div class="input-group mb-2 centrado">
                    <div class="input-group-prepend " >
                        <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                    </div>
                </div>
                <input type="date" name="fechaEntrada" class="form-control" ngModel >
                <br>
                    <div class="input-group mb-2 centrado">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                            </div>
                        </div>
                            <input class="largo" type="datetime-local" name="fechayhora" value="2018-05-23T08:00:00"min="2018-05-23T08:00:00" step="1800">
                        
            </div>
                
                <div class="botones">
                    <!-- <button class="btn btn-success">reservar</button> -->
                </div>
            </div>
            <div style="border: solid 3px green;height: 600px;" class="tarjeta">
                    <div class="letra">
                        <p [(ngModel)]="titulo.p9" >{{titulo.p9}}</p>
                    </div>
                    <div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                        <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
        
                        </div>
                        <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
        
                        </div>
                        <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
        
                        </div>
                        <div [hidden]="!receivedData.length > 0"  style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
        
                        </div>
        
                    </div>
                <div class="fechas">
                    <div class="input-group mb-2 centrado">
                        <div class="input-group-prepend " >
                            <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                        </div>
                    </div>
                    <input type="date" name="fechaEntrada" class="form-control" ngModel >
                    <br>
                        <div class="input-group mb-2 centrado">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                                </div>
                            </div>
                                <input class="largo" type="datetime-local" name="fechayhora" value="2018-05-23T08:00:00"min="2018-05-23T08:00:00" step="1800">
                            
                </div>
                    
                    <div class="botones">
                        <!-- <button class="btn btn-success">reservar</button> -->
                    </div>
                </div>
                <div style="border: solid 3px green;height: 600px;" class="tarjeta">
                        <div class="letra">
                            <p [(ngModel)]="titulo.p10" >{{titulo.p10}}</p>
                        </div>
                        <div  dnd-droppable (onDropSuccess)="transferDataSuccess($event)" style="height:300px;width:180px ;background-image: url('../../assets/img/Sin título.png');margin: 20px;background-size: contain;background-repeat: no-repeat;justify-content: center">
                            <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
            
                            </div>
                            <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
            
                            </div>
                            <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
            
                            </div>
                            <div [hidden]="!receivedData.length > 0" style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">
            
                            </div>
            
                        </div>
                    <div class="fechas">
                        <div class="input-group mb-2 centrado">
                            <div class="input-group-prepend " >
                                <label class="input-group-text" for="inputGroupSelect01">Entrada</label>
                            </div>
                        </div>
                        <input type="date" name="fechaEntrada" class="form-control" ngModel >
                        <br>
                            <div class="input-group mb-2 centrado">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Salida</label>
                                    </div>
                                </div>
                                    <input class="largo" type="datetime-local" name="fechayhora" value="2018-05-23T08:00:00"min="2018-05-23T08:00:00" step="1800">
                                
                    </div>
                        
                        <div class="botones">
                            <!-- <button class="btn btn-success">reservar</button> -->
                        </div>
                    </div>
    </div>
</form>
    <div class="barra">
        <div style="flex-direction: column; align-items: flex-end">
            <div style="height: 10%; height: 100%;display: flex; flex-direction: column;align-content: flex-end">
                <h4 style=" text-align:left;"> Listado de jugadores</h4> 
                <div style="display: flex;padding-left: 20px;">
                    <input type="text">
                    <a class="btn btn-suscces">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                

            </div>
            <div style="overflow: auto; border: solid  1px black;background-color:#222;color: white; width:100%;height: 60vh;">
                <ul style="list-style: none;margin-top: 20px;">
                    <li   >
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg" style="width:25px;height: 30px;" alt=""> Gloria Sánchez
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/520191091.jpg" style="width:25px;height: 30px;" alt=""> Alberto Sánchez
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/foto-carnet (1).jpg" style="width:25px;height: 30px;" alt=""> Ronaldo Vivas
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/descarga.jpg" style="width:25px;height: 30px;" alt=""> Luis Pérez
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg" style="width:25px;height: 30px;" alt=""> Sergio López
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg" style="width:25px;height: 30px;" alt=""> Juan Carlos Hernández
                    </li>
                    <li>
                        <img  dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg" style="width:25px;height: 30px;" alt=""> Amanda García
                    </li>
                    <li>
                        <img dnd-draggable [dragEnabled]="true" [dragData]="transferData" src="../../assets/img/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg" style="width:25px;height: 30px;" alt=""> Juan Ramon Pardo
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>
 

